.Rproj.user
.Rhistory
.RData
.Ruserdata
COVID_Disparities.Rproj
PhillySnapshot1.pdf
PhillySnapshot2.pdf
PhillySnapshot3.pdf
PhillySnapshot4.pdf
Philly_Presentations.R
testgif1.gif
testgif2-Usama’s MacBook Pro.gif
testgif2.gif
testgif3.gif
tests_NYC2.pdf
tests_NYC3.pdf
tests_NYC4.pdf
.DS_Store
tests.R
hispanic_comparison.pdf
testmap.gif
Results
README.html
